# Dependency directories
node_modules

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.local
.env.dev
.env.prod

# build output folder
dist

test.ts

# log files
*.log